{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<div class="container mb-4">

    {% include "carrito/widget.html" %}

    <h1 class="text-center mb-4">Tienda</h1>

    <div class="d-flex flex-wrap gap-3 justify-content-center">
        {% for producto in productos %}
        <div class="card" style="width: 18rem;">
            <img src="{{ producto.imagen.url }}" class="card-img-top" style="height: 18rem;" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ producto.titulo }}</h5>
                <h5 class="card-text mb-1 text-primary">${{ producto.precio }}</h5>
                <p class="card-text mb-1"><small>{{ producto.descripcion }}</small></p>
                <p class="card-text">Stock {{ producto.stock }}</p>
                <a href="{% url 'carrito:agregar' producto.id %}" class="btn btn-dark">Agregar al carrito <i
                        class="fa-solid fa-cart-arrow-down"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}