{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<!-- Heading -->

<section class="page-section clearfix" style="background-color: #6BBDBB">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-lg">
        <h1 class="">Puntualidad y el mejor stock</h1>
        <h5 class="">En la puertra de tu casa en menos de 48hs con envío normal y en menos de 24hs con envío express
        </h5>
      </div>
      <div class="col d-flex justify-content-center">
        <img src="{% static 'ProyectoWebApp/img/1.png' %}" alt="...">
      </div>
    </div>
  </div>
</section>

<!-- Message -->
<section class="page-section cta">
  <div class="container my-5 py-5">
    
    <div class="row mb-5">
      <div class="col">
        <h2 class="text-center">Compromiso total garantizado</h2>
        <p class="my-3 text-center">Con más de 75 años de experiencia en nuestras espaldas, desde SalesBrand tenemos
          los conocimientos y las herramientas necesarias para llevar cualquier objeto a la puerta de su casa con
          puntualidad y profesionalidad.</p>
      </div>
    </div>

<div class="row justify-content-center">
  <div class="" style="width: 18rem;">
    <h3 class="text-center">🕒</h3>
    <div class="">
      <h5 class="card-title text-center">Puntualidad</h5>
      <p class="card-text text-center" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="" style="width: 18rem;">
    <h3 class="text-center">💳</h3>
    <div class="">
      <h5 class="card-title text-center">Compra segura</h5>
      <p class="card-text text-center" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="" style="width: 18rem;">
    <h3 class="text-center">🚚</h3>
    <div class="">
      <h5 class="card-title text-center">Envío gratis</h5>
      <p class="card-text text-center" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>



  </div>
</section>

{% endblock %}